@page "/board/{boardId}"
@page "/board/{boardId}/{boardName}"

<h1>@BoardTitle</h1>

<table class="headerlayouttable" style="width:100%">
    <tr>
        <td> <input type="checkbox" @onchange="eventArgs => { CheckAllClicked(); }" />Check All</td>
        //        <td style="text-align:right"><button type="button" @onclick="@(async () => await DownloadThreads())"> Download</button></td>
        <td style="text-align:right"><button type="button" @onclick="@(() => DownloadThreads())"> Download</button></td>
    </tr>
</table>
<br />
<br />

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th>Thread Id</th>
        <th>Subject</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @if (BoarCatalogs != null)
    {
        @foreach (var page in BoarCatalogs.ToList())
        {
            foreach (var thread in page.Threads)
            {
                <tr>
                    <td><button type="button" @onclick="@(() => ExpandThreadPosts(thread))">Expand</button></td>
                    <td> <input @bind="@thread.Checked" type="checkbox" /></td>
                    <td>@thread.No</td>
                    <td>@thread.Sub</td>
                    <td max-width="0" overflow="scroll" text-overflow="ellipsis" white-space="nowrap">@thread.Com</td>
                </tr>
            }
        }
    }
    </tbody>
</table>

<DownloadOverview @ref="DownloadOverview"></DownloadOverview>