@page "/thread/{boardId}/{threadId}"
@page "/thread/{boardId}/{threadId}/{threadTitle}"

<h1>@DisplayTitle</h1>

<table class="layouttable" style="width:100%">
    <tr>
        <td> <input type="checkbox" @onchange="eventArgs => { CheckAllClicked(); }" />Check All</td>
        <td style="text-align:right"><button type="button" @onclick="@(async () => await DownloadOverview.DownloadPost(@ThreadTitle,@Posts,@BoardId).ConfigureAwait(false))"> Download</button></td>
    </tr>
</table>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Preview</th>
            <th>Post Id</th>
            <th>File Name</th>
            <th>File Extension</th>
            <th>File Size(KB)</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        @if (Posts != null)
        {
            foreach (var post in Posts.posts.ToList())
            {
                if (@post.fsize > 1)
                {
                    //Uses post.tim instead of post.filename
                    //HREF - href="//is2.4chan.org/a/1626564017940.jpg"
                    //SRC - src="//i.4cdn.org/a/1626564017940s.jpg
                    //EXAMPLE - <a class="fileThumb" href="//is2.4chan.org/a/1626564017940.jpg" target="_blank"><img src="//i.4cdn.org/a/1626564017940s.jpg" alt="43 KB" data-md5="FLKUH3VbsAcTIDzeqXsg3Q==" style="height: 121px; width: 125px;" loading="lazy">
                    
                    <tr>
                        <td> <input @bind-value="post.Checked" type="checkbox" /></td>                        
                        <td><a href="//is2.4chan.org/a/1626564017940.jpg" target="_blank"><img src="//i.4cdn.org/a/1626564017940s.jpg" alt="NOT FOUND" style="height: 121px; width: 125px;" loading="lazy"></a></td>
                        <td>@post.no</td>
                        <td>@post.filename.Trim()</td>
                        <td>@post.ext</td>
                        <td>@ConvertBytesToKiloBytes(@post.fsize)</td>
                        <td>@post.com</td>
                    </tr>
                }

            }
        }
    </tbody>
</table>

<DownloadOverview @ref="DownloadOverview"></DownloadOverview>