@if(ShowDownloadManager){

<div style="border: 2px solid black"></div>
<h3>DownloadManager</h3>
<br />
<br />

<div id=threaddownloadmain>
    <table class="table">
         <thead>
        <tr>                        
            <th>Post Id</th>
            <th>File Name</th>
            <th>File Extension</th>
            <th>File Size(KB)</th>            
        </tr>
    </thead>
    <tbody>
        @if(Posts != null){
           foreach (var post in Posts)
            {                
                if (@post.fsize > 1)
                {                    
                    <tr>                        
                        <td>@post.no</td>
                        <td>@post.filename.Trim()</td>
                        <td>@post.ext</td>
                        <td>@post.fsize</td>
                    </tr>                    
                }
            }
                }
     </tbody>
    </table>
</div>
}
